<% include ./partials/header%>
<div class="container">
    <div class="row">
        <div style="width:30%; margin: 25px auto;">
            <form action="/login" method="POST">
                <!--<input type="text" name="username" placeholder="username">-->
                <!--<input type="password" name="password" placeholder="password">-->
                <!--<input type="submit" value="login">-->
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="login">
                </div>
                
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer%>